<div class="row gutters-60 padding-top-74">
    <div class="col-lg-12">
        <div class="author-box-layout1">
            <div class="adv-search-wrap row">
                <form (ngSubmit)="searchFavorites(searchTerm.value) && searchTerm.value != ''" class="col-lg-8" novalidate>
                    <div class="input-group col-lg-12">
                        <input #searchTerm type="text" class="form-control" placeholder="Recipe name. . ." required>
                        <div class="btn-group">
                            <div class="input-group-btn">
                                <button type="submit" class="btn-search">
                                    <i class="flaticon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        <div class="author-box-layout1">
            <div *ngIf="totalItems > 0" class="section-heading heading-dark ">
                <h2  class="item-heading profile-name">Total {{totalItems}} favorites</h2>
            </div>   
            
            <!-- Alert No Favorites Start Here -->
            <!-- <div  class="alert alert-info padding-top-75" role="alert">
                <h4 class="alert-heading">You dont have Favorites!</h4>
                <hr>
            </div> -->
            <!-- Alert No Favorites End Here -->
            
            <div class="table-responsive">
                <!-- Alert Not Found Start Here -->
                <div *ngIf="isResultEmpty" class="col-lg-12 alert alert-info" role="alert">
                    <h4 class="alert-heading"><i class="fas fa-info-circle"></i> You don't have favorites on your list !</h4>
                </div>
                <!-- Alert Not Found Stop Here -->
                <table class="table table-striped">
                    <tbody>
                        <tr *ngFor="let favorite of favorites | paginate: {id: 'pagination-nav', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems}; let i = index">
                            <th>
                                <div class="author-personal-info">
                                    <a href="#" class="item-figure"><img [src]="favorite.recipe.thumbRoute" alt="Recipe"></a>
                                    <div class="item-content">
                                        <div class="item-title"><a href="#">{{favorite.recipe.name}}</a></div>
                                        <div class="item-designation item-subtitle">{{favorite.recipe.category.name}}</div>
                                        <div class="item-designation">

                                            <bar-rating  class="bar-rating-container" [(rate)]="favorite.recipe.averangeRanking" [max]="5" ></bar-rating>
                                        </div>
                                        <div class="item-designation"> 
                                            <ul class="entry-meta">
                                                <li class="single-meta">
                                                    <a>
                                                        <i class="fas fa-user icon-heart"></i> <span> {{favorite.user.name}} {{favorite.user.lastname}}</span>
                                                    </a>
                                                </li>
                                                <li class="single-meta">
                                                    <a>
                                                        <i  class="fas fa-heart icon-heart"></i>
                                                        <span> {{favorite.recipe.totalLikes}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <td>
                                <ul class="nav-actions"> 
                                    <li class="btn-table btn">
                                        <a class="icon-heart-table" (click)="removeFavorite(favorite.recipe.id, i)">
                                            <i  class="fas fa-heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>             
                    </tbody>
                </table>
            </div>
            <!-- Pagination Start Here -->
            <pagination-controls 
            *ngIf="totalPages > 1"
            id="pagination-nav"
            (pageChange)="getPage($event)"
            previousLabel=""
            nextLabel=""
            responsive="true"
            screenReaderPaginationLabel="Pagination">
            </pagination-controls>
            <!-- Pagination End Here -->
        </div>
    </div>
</div>
<!-- Recipes Area End Here -->