<!-- Header Area Start Here -->
<app-navbar-guest [term]="term"></app-navbar-guest>
<!-- Header Area End Here -->
<!-- Results Recipe Start Here -->
<section class="padding-bottom-45">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-10">
                <div class="section-heading heading-dark row">
                    <!-- <h2 class="item-heading">Results</h2> -->
                </div>
                <!-- <div id="recipe-cards-carousel" class="owl-carousel owl-theme">              -->
                <!-- <div class="row">
                    <div *ngFor="let item of [1,2,3,4,5,6,7,8]" class="card-item col-lg-3 col-md-12 col-sm-12" (click)="showRecipe(recipe)">
                        <div class="product-box-layout1">
                            <figure class="item-figure">
                                <a>
                                    <img  src="assets/img/product/product5.jpg"  
                                        alt="Product">
                                </a>
                            </figure>
                            <div class="item-content">
                                <h3 class="item-title"><a (click)="showRecipe(recipe)" >Name</a></h3>
                                <span class="sub-title">Category</span>
                                <ul class="item-rating">
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-empty"><i class="fas fa-star"></i></li>
                                </ul>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i> 2019-12-12</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>York glez</span></a></li>
                                    <li>
                                        <ul class="card-tags">
                                            <li *ngFor="let tag of recipe.tags"><a >#tag</a></li>
                                        </ul>
                                    </li>
                                
                                </ul>
                            </div>
                        </div>
                    </div>                                      
                       
                </div> -->
                                   
                                      
                     
                    
                  <!-- </div> -->
            </div>
            <!-- Popular tags start here -->
            <div class="col-lg-2 sidebar-widget-area sidebar-break-md">
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">Popular tags</h3>
                    </div>

                    <div class="widget-tag">
                        <ul>
                            <li *ngFor="let tag of tags">
                                <a href="#">
                                    <!-- {{tag.name.toUpperCase()}} -->
                                </a>
                            </li>
                        </ul>
                       
                    </div>
                    <div class="widget-tag">
                        <ul>
                            <li>
                                <a href="#">DESERT</a>
                            </li>
                            <li>
                                <a href="#">CAKE</a>
                            </li>
                            <li>
                                <a href="#">BREAKFAST</a>
                            </li>
                            <li>
                                <a href="#">BURGER</a>
                            </li>
                            <li>
                                <a href="#">DINNER</a>
                            </li>
                            <li>
                                <a href="#">PIZZA</a>
                            </li>
                            <li>
                                <a href="#">SEA FOOD</a>
                            </li>
                            <li>
                                <a href="#">SALAD</a>
                            </li>
                            <li>
                                <a href="#">JUICE</a>
                            </li>
                        </ul>
                    </div>
                </div>                    
            </div>
            <!-- Popular tags end here -->

          
        </div>
        <!-- Pagination Start Here -->
        <ul class="pagination-layout1">
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
        </ul>
        <!-- Pagination End Here -->
    </div>
</section>
<!-- Results Recipe End Here -->