.entry-meta{
	display: flex !important;
	flex-direction: row !important;
}

.recipe-thumb{
	max-width: 110px;
	max-height: 125px;
}

.show-more-container
{
	display: flex;
	justify-content: center;
}

.btn-show-more
{
	background: #fff;
	border: none;
	color: #000;
	width:100%;
	height: 30px;
	margin: 0 10px;
}

.btn-show-more:hover
{
	background-color: #ff4a52;
	color: #fff;
	transition: all 0.3s ease-out;
}


.icon-heart
{
    color: #ff4a52 !important;
} 

.icon-heart:hover
{
    color: #c82333 !important;
} 

.btn-group-favorite a
{
	font-size: 1.6rem;
}
.btn-group-favorite span
{
	color: #909090;
}

.list-ranking
{
	position: relative !important;
	top: -6px !important;
	/* background-color: royalblue; */
}

.div-ranking
{
	display: flex;
	justify-content: center;
	/* align-items: center; */
	/* background: red !important; */
}

.list-item:hover
{
	cursor: pointer;
	color: #ff4a52;
	transition: all 0.3s ease-out;
}

.image-recipe
{
	width: 100% !important;
	max-height: 530px !important;
}

.media-img-auto
{
	width: 100px;
	height: 100px;
}