.profile-menu
{
    display: flex;
    border-bottom: 1px solid #d7d7d7;

}
.profile-menu li 
{
    padding: 10px 20PX;
    border-bottom: 1px solid #d7d7d7;
}

.profile-menu li a 
{
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #111;
}

.profile-menu li:hover 
{
    border-color: #ff4a52;
}

.profile-menu li a:hover 
{
    color:  #ff4a52;
}

.profile-menu .active 
{
    border-color: #ff4a52;
}

.profile-menu .active a
{
    color:  #ff4a52;
}

.nav-heading:before 
{
	position: absolute;
	content: "";
	bottom: -2px;
	left: 0;
	background-color: #ff4a52;
	height: 3px;
	width: 50px;
}

.widget-about
{
    display: flex !important;
    flex-direction: column;
    /* justify-content: center !important; */
    align-items: center !important;
}

.author-figure
{
    position: relative !important;
    /* transform: translateX(50%); */
}

.author-figure img 
{
    height: 234px !important;
    width: 234px !important;
    border: 2px solid rgba(0,0,0,0.2)
}

.change-image-container
{
    display: none;
}

.change-image-container.active
{
    display: block;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.change-image-container.active .button-content
{
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding-bottom: 20px;
}

.change-image-container.active .button-content a 
{
    display: flex;
    flex-direction: column;
}

.change-image-container.active  .button-content .icon
{
    color: white;
    font-size: 20px;
}

.change-image-container.active .button-content .text 
{
    bottom: 0;
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}



/*=============================================
=            Custom input file            =
=============================================*/

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 1px solid #722040;
    color: white;
    background-color: #d3394c;
    padding: 8px 20px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .change-image-container input[type=file] {
    font-size: 400px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

/*=====  End of Custom input file  ======*/

.single-item .item-img img 
{
    width: 135px;
    height: 130px;
}

.social i
{
    color: #111;
}