<!-- User Navabar Start Here -->
<app-navbar-admin></app-navbar-admin>
<!-- User Navabar End Here -->
<!-- Inne Page Banner Area Start Here -->
<section class="section-header inner-page-banner bg-common">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Ingredients</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->

<!-- Submit Recipe Area Start Here -->
<section class="submit-recipe-page-wrap padding-top-45 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-5">
                <br>
                <!-- Form Start Here -->
                <form 
                [formGroup]="form"
                class="submit-recipe-form"
                novalidate>
                    <!-- Input Name Start Here -->
                    <div class="form-group">
                        <label>Name</label>
                        <input 
                        formControlName="name"
                        placeholder="Tomato" 
                        class="form-control is-invalid"    
                                        
                        data-error="Name field is required"
                        required>       
                        <div class="input-errors">
                            Please write a name.
                        </div>
                    </div>
                    <!-- Input Name End Here -->
                 
                    <button [disabled]="form.invalid" *ngIf="!isEdit" type="submit" (click)="create()" class="btn-submit">CREATE</button>
                   <button  [disabled]="form.invalid" *ngIf="isEdit" type="submit" (click)="update()" class="btn-submit">UPDATE</button>
                </form>
            </div>
            <div class="col-lg-8">
                <div class="author-box-layout1">
                    <div class="adv-search-wrap">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Author Name Search . . ." />
                            <div class="btn-group">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn-search"><i class="flaticon-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="author-section-title">Total {{totalItems}} Ingredients</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Create At</th>
                                    <th>Update At</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ingredient of ingredients | paginate: {id: 'pagination-nav', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems}; let i = index">
                                    <th>{{ingredient.name}}</th>
                                    <td>{{ingredient.createAt}}</td>
                                    <td>{{ingredient.updateAt}}</td>
                                    <td>
                                        <button class="btn-table-edit" (click)="edit(i)"><i class="fas fa-pencil-alt"></i></button>
                                        <button class="btn-table-remove" (click)="remove(i)"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Pagination Start Here -->
                        <pagination-controls 
                        *ngIf="totalPages > 1"
                        id="pagination-nav"
                        (pageChange)="getPage($event)"
                        previousLabel=""
                        nextLabel=""
                        responsive="true"
                        screenReaderPaginationLabel="Pagination">
                        </pagination-controls>
                        <!-- Pagination End Here -->
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Submit Recipe Area End Here -->