.icon-unfollow-table
{
    background-color: #ff4a52;
    color: #fff;
    padding: 2px 10px;
    border: 1px solid #e92731;
    border-radius: 4px !important;
}

.icon-unfollow-table:hover 
{
    background-color: #e92731;
}

.icon-unfollow-table span, i
{
    color: #fff;
}