<!-- User Navabar Start Here -->
<app-navbar-user></app-navbar-user>
<!-- User Navabar End Here -->

<!-- Content Start Here -->
<section class="padding-bottom-45">
    <div class="container">
        <div class="row gutters-60">
            <!-- <div class="col-lg-2">
                <div class="widget ranna-box-padding">
                    <div class="section-heading heading-dark ">
                        <h2 class="item-heading profile-name">Sidebar</h2>  
                    </div>   
                    <ul>
                        <li>Change password</li>
                        <li>Change Email</li>
                        <li>Change personal information</li>
                    </ul>  
                </div>
            </div> -->
            <div class="col-lg-12">
                <!-- <div class="widget ranna-box-padding"> -->
                    <div class="section-heading heading-dark ">
                        <h2 class="item-heading profile-name">Settings</h2>  
                    </div>     
                <!-- </div> -->
            </div>
            <div class="col-lg-10">
                <div class="widget ranna-box-padding edit-container">
                    <div class="section-heading heading-dark ">
                        <h2 class="item-heading profile-name">Password <a><i class="fas fa-pencil-alt"></i></a></h2>  
                    </div>     
                    <div class="ranna-box-padding">
                        <form class="login-form">
                            <div class="col-lg-4">
                                <label for="">Actual password</label>
                                <input  class="main-input-box" type="password">
                            </div>
                            <div class="col-lg-4">
                                <label for="">New password</label>
                                <input  class="main-input-box" type="password">
                            </div>
                            <div class="col-lg-4">
                                <label for="">Confirm password</label>
                                <input  class="main-input-box" type="password">
                            </div>

                            <div class="col-lg-2 inline-box mb-5 mt-4">
                                <button class="btn-login btn-fill" type="submit" value="Signup">Change</button>     
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="widget ranna-box-padding ">
                    <div class="section-heading heading-dark ">
                        <h2 class="item-heading profile-name">Email <a><i class="fas fa-pencil-alt"></i></a></h2>  
                    </div> 
                    <div class="ranna-box-padding">
                        <form class="login-form">
                            <div class="col-lg-4">
                                <h4>Actual email</h4>
                                <p>email@email</p>
                            </div>
                            <div class="col-lg-4">
                                <label for="">New email</label>
                                <input  class="main-input-box" type="email">
                            </div>
                            <div class="col-lg-4">
                                <label for="">Password</label>
                                <input  class="main-input-box" type="password">
                            </div>

                            <div class="col-lg-2 inline-box mb-5 mt-4">
                                <button class="btn-login btn-fill" type="submit" value="Signup">Change</button>     
                            </div>
                        </form>
                    </div>    
                </div>
            </div>
            <div class="col-lg-12">
                <div class="widget ranna-box-padding edit-container">
                    <div class="section-heading heading-dark ">
                        <h2 class="item-heading profile-name">Personal information <a><i class="fas fa-pencil-alt"></i></a></h2>  
                    </div>     
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content End Here -->
