.menu-mobile{
   
    -webkit-transition:all .26s ease-in-out !important;
    -moz-transition:all .26s ease-in-out !important;
    -ms-transition:all .26s ease-in-out !important;
    -o-transition:all .26s ease-in-out !important;
    transition:all .26s ease-in-out !important;
    display: block !important;
}