<!-- Header Area Start Here -->
<header class="header-one">
    <div id="header-main-menu" class="header-main-menu header-sticky">
        <div class="container">                    
            <div class="row">
                <div class="col-lg-8 col-md-3 col-sm-4 col-4 possition-static">
                    <div class="site-logo-mobile">
                        <a href="index.html" class="sticky-logo-light"><img src="assets/img/logo-light.png" alt="Site Logo"></a>
                        <a href="index.html" class="sticky-logo-dark"><img src="assets/img/logo-dark.png" alt="Site Logo"></a>
                    </div>
                    <nav class="site-nav">
                        <ul id="site-menu" class="site-menu" [ngClass]="{'menu-mobile': isMobile}">
                            <li>
                                <a routerLink="/home" routerLinkActive="router-link-active" ><i class="fas fa-home"></i> Home</a>
                            </li>
                            <li>
                                <a href="category.html"><i class="fas fa-search"></i> Search</a>
                            </li>
                            <!-- <li class="hide-on-desktop-menu">
                                <a href="#">Pages</a>
                                <ul class="dropdown-menu-col-1">
                                    <li>
                                        <a href="about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="author.html">Author</a>
                                    </li>
                                    <li>
                                        <a href="single-author.html">Author Details</a>
                                    </li>
                                    <li>
                                        <a href="submit-recipe.html">Submit Recipe</a>
                                    </li>
                                    <li>
                                        <a href="login.html">Login</a>
                                    </li>
                                    <li>
                                        <a href="login.html">404 Error</a>
                                    </li>
                                </ul>
                            </li> -->
                            <li>
                                <a href="#"><i class="fas fa-utensils"></i> Categories </a>
                            </li>
                            <li>
                                <a href="contact.html">About</a>
                            </li>
          
                        </ul>
                        
                        <form class="form-container form-inline my-2 my-lg-0">
                            <div class="input-group mb-3">
                                <input type="text" 
                                class="form-input form-control" 
                                placeholder="Search"
                                [value]="term"
                                #searchTerm>
                                <div class="input-group-append">
                                  <button (click)="goToPage(searchTerm.value)" class="btn-search btn" type="button" id="button-addon2">
                                    <i class="fas fa-search"></i>
                                  </button>
                                </div>
                            </div>
                            <!-- <input class="form-input form-control" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                              </div> -->
                            <!-- <button class="btn-search btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button> -->
                          </form>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-9 col-sm-8 col-8 d-flex align-items-center justify-content-end">
                    <div class="nav-action-elements-layout1">
                        <ul>
                            <li>
                                <div class="cart-wrap cart-on-mobile d-lg-none">                                            
                                    <div class="cart-info">
                                        <i class="flaticon-shopping-bag"></i>
                                        <div class="cart-amount"><span class="item-currency">$</span>00</div>     
                                    </div>                                   
                                    <div class="cart-items">
                                        <div class="cart-item">
                                            <div class="cart-img">
                                                <a href="#">
                                                    <img src="img/product/top-product1.jpg" alt="product" class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="#">Pressure</a>
                                                <span>Code: STPT601</span>
                                            </div>
                                            <div class="cart-quantity">X 1</div>
                                            <div class="cart-price">$249</div>
                                            <div class="cart-trash">
                                                <a href="#">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cart-item">
                                            <div class="cart-img">
                                                <a href="#">
                                                    <img src="img/product/top-product2.jpg" alt="product" class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="#">Stethoscope</a>
                                                <span>Code: STPT602</span>
                                            </div>
                                            <div class="cart-quantity">X 1</div>
                                            <div class="cart-price">$189</div>
                                            <div class="cart-trash">
                                                <a href="#">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cart-item">
                                            <div class="cart-img">
                                                <a href="#">
                                                    <img src="img/product/top-product3.jpg" alt="product" class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="#">Microscope</a>
                                                <span>Code: STPT603</span>
                                            </div>
                                            <div class="cart-quantity">X 2</div>
                                            <div class="cart-price">$379</div>
                                            <div class="cart-trash">
                                                <a href="#">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cart-item">
                                            <div class="cart-btn">
                                                <a href="#" class="item-btn">View Cart</a>
                                                <a href="#" class="item-btn">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button type="button" class="login-btn" data-toggle="modal" data-target="#myModal">
                                    <i class="flaticon-profile"></i>Login
                                </button>
                            </li>
                            <li>
                                <button type="button" class="login-btn" data-toggle="modal" data-target="#myModal2">
                                    Signup
                                </button>
                            </li>
                            <!-- <li>
                                <a href="submit-recipe.html" class="fill-btn"><i class="flaticon-plus-1"></i>SUBMIT
                                    RECIPE</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="mob-menu-open toggle-menu" (click)="showMobileMenu()">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="nav-action-elements-layout2">
                        <!-- <ul class="nav-social">
                            <li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#" title="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#" title="skype"><i class="fab fa-skype"></i></a></li>
                            <li><a href="#" title="rss"><i class="fas fa-rss"></i></a></li>
                            <li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="site-logo-desktop">
                        <a href="index.html" class="main-logo"><img src="assets/img/logo-dark.png" alt="Site Logo"></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- <div class="nav-action-elements-layout3">
                        <ul>
                            <li>
                                <div class="header-search-box">
                                    <a href="#search" title="Search" class="search-button">
                                        <i class="flaticon-search"></i>
                                    </a> 
                                </div>
                            </li>
                            <li>
                                <div class="cart-wrap d-none d-lg-block">                                            
                                    <div class="cart-info">
                                        <i class="flaticon-shopping-bag"></i>
                                        <div class="cart-amount"><span class="item-currency">$</span>00</div>     
                                    </div>                                   
                                    <div class="cart-items">
                                        <div class="cart-item">
                                            <div class="cart-img">
                                                <a href="#">
                                                    <img src="img/product/top-product1.jpg" alt="product" class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="#">Pressure</a>
                                                <span>Code: STPT601</span>
                                            </div>
                                            <div class="cart-quantity">X 1</div>
                                            <div class="cart-price">$249</div>
                                            <div class="cart-trash">
                                                <a href="#">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cart-item">
                                            <div class="cart-img">
                                                <a href="#">
                                                    <img src="img/product/top-product2.jpg" alt="product" class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="#">Stethoscope</a>
                                                <span>Code: STPT602</span>
                                            </div>
                                            <div class="cart-quantity">X 1</div>
                                            <div class="cart-price">$189</div>
                                            <div class="cart-trash">
                                                <a href="#">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cart-item">
                                            <div class="cart-img">
                                                <a href="#">
                                                    <img src="img/product/top-product3.jpg" alt="product" class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="cart-title">
                                                <a href="#">Microscope</a>
                                                <span>Code: STPT603</span>
                                            </div>
                                            <div class="cart-quantity">X 2</div>
                                            <div class="cart-price">$379</div>
                                            <div class="cart-trash">
                                                <a href="#">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cart-item">
                                            <div class="cart-btn">
                                                <a href="#" class="item-btn">View Cart</a>
                                                <a href="#" class="item-btn">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End Here -->


<!-- Modal Login Start Here-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title-default-bold mb-none">Login</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="login-form">
                    <label for="">Email</label>
                    <input class="main-input-box" type="text" placeholder="" />
                    <label for="">Password</label>
                    <input class="main-input-box" type="password" placeholder="" />
                    <div class="inline-box mb-5 mt-4">
                        <div class="checkbox checkbox-primary">
                            <input id="modal-checkbox" type="checkbox">
                            <label for="modal-checkbox">Remember Me</label>
                        </div>
                        <label class="lost-password"><a href="#">Lost your password?</a></label>
                    </div>
                    <div class="inline-box mb-5 mt-4">
                        <button class="btn-login btn-fill" type="submit" value="Login">Login</button>     
                        <!-- <a href="#" class="btn-register"><i class="fas fa-user"></i>Register Here!</a> -->
                    </div>
                    <h4 class="text-center">You do not have an account?</h4>
                    <div class="inline-box mb-5 mt-4">
                        <button class="btn-signup btn-fill" type="submit" value="Login">Sign up</button>     
                        <!-- <a href="#" class="btn-register"><i class="fas fa-user"></i>Register Here!</a> -->
                    </div>
                </form>
                <!-- <label>Login connect with your Social Network</label>
                <div class="login-box-social">
                    <ul>
                        <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" class="google"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- Modal Login End Here-->
<!-- Modal Signup Start Here-->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title-default-bold mb-none">Sign up</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="login-form">
                    <div class="row">
                        <div class="col-lg-6">   
                            <label for="">Name</label>
                            <input class="main-input-box" type="text" placeholder="" />
                        </div>
                        <div class="col-lg-6">   
                            <label for="">Lastname</label>
                            <input class="main-input-box" type="text" placeholder="" />
                        </div>
                        <div class="col-lg-6">   
                            <label for="">Gender</label>
                            <select class="input-select custom-select" name="" id="">
                                <option selected>Choose...</option>
                                <option class="input-option" value="M">M</option>
                                <option value="F">F</option>
                            </select>
                            <!-- <input class="main-input-box" type="text" placeholder="" /> -->
                        </div>
                        <div class="col-lg-6">   
                            <label for="">Date birth</label>
                            <input class="main-input-box" type="date" placeholder="" />
                        </div>
                        <div class="col-lg-12">   
                            <label for="">Country</label>
                            <ng-select
                            class="input-ngselect"
                            name="categoryId"
                            [items]="countries"
                            bindLabel="name"
                            bindValue="id"                       
                            [multiple]="false"
                            placeholder ="Select a Country"
                            notFoundText = "Result not found"
                            required>
                            </ng-select>
                        </div>
                        <div class="col-lg-12">   
                            <label for="">Email</label>
                            <input class="main-input-box" type="email" placeholder="" />
                        </div>
                        <div class="col-lg-12">   
                            <label for="">Password</label>
                            <input class="main-input-box" type="password" placeholder="" />
                        </div>
                        <div class="col-lg-12">   
                            <label for="">Repeat password</label>
                            <input class="main-input-box" type="password" placeholder="" />
                        </div>
                    </div>
                    <div class="inline-box mb-5 mt-4">
                        <button class="btn-login btn-fill" type="submit" value="Login">Sign up</button>     
                        <!-- <a href="#" class="btn-register"><i class="fas fa-user"></i>Register Here!</a> -->
                    </div>
                    <h4 class="text-center">You do have an account?</h4>
                    <div class="inline-box mb-5 mt-4">
                        <button class="btn-signup btn-fill" type="submit" value="Login">Login</button>     
                    </div>
                </form>
                <!-- <label>Login connect with your Social Network</label>
                <div class="login-box-social">
                    <ul>
                        <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" class="google"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- Modal Signup End Here-->