<form [formGroup]="signupForm"  class="login-form" novalidate>
    <div class="row">
        <div class="col-lg-6" 
        [ngClass]="{'has-error': signupForm.get('name').errors && signupForm.get('name').touched}">   
            <label for="">Name</label>
            <input
            formControlName="name" 
            class="main-input-box" 
            type="text" 
            placeholder="" 
            required/>
        </div>
        <div class="col-lg-6"
        [ngClass]="{'has-error': signupForm.get('lastName').errors && signupForm.get('lastName').touched}">   
            <label for="">Lastname</label>
            <input formControlName="lastName" class="main-input-box" type="text" placeholder="" required/>
        </div>
        <div class="col-lg-6"
        [ngClass]="{'has-error': signupForm.get('gender').errors && signupForm.get('gender').touched || signupForm.get('gender').dirty}">   
            <label for="">Gender</label>
            <select formControlName="gender" class="input-select custom-select" name="" id="" required>
                <option selected>Choose...</option>
                <option class="input-option" value="M">M</option>
                <option value="F">F</option>
                <option value="F">Other</option>
            </select>
            <!-- <input class="main-input-box" type="text" placeholder="" /> -->
        </div>
        <div class="col-lg-6"
        [ngClass]="{'has-error': signupForm.get('dateBirth').errors && signupForm.get('dateBirth').touched}">   
            <label for="">Date birth</label>
            <input formControlName="dateBirth" class="main-input-box" type="date" placeholder="" required/>
        </div>
        <div class="col-lg-12">   
            <label for="">Country</label>
            <ng-select
            formControlName="country"
            class="input-ngselect"
            [ngClass]="{'input-select-focus': focus === true}"
            name="categoryId"
            [items]="countries"
            bindLabel="name"
            bindValue="id"                       
            [multiple]="false"
            placeholder ="Select a Country"
            notFoundText = "Result not found"
            required>
            </ng-select>
        </div>
        <div class="col-lg-12" 
            [ngClass]="{'has-error': signupForm.get('email').errors && signupForm.get('email').touched}">   
            <label for="">Email</label>
            <input formControlName="email" class="main-input-box" type="email" placeholder="" required/>
        </div>
        <div class="col-lg-12" [ngClass]="{'has-error': signupForm.get('password').errors && signupForm.get('password').touched}">   
            <label for="">Password</label>
            <input formControlName="password" class="main-input-box" type="password" placeholder="" required/>
        </div>
        <div class="col-lg-12"
            [ngClass]="{'has-error': signupForm.get('confirmPassword').errors && signupForm.get('confirmPassword').touched}">   
            <label for="">Repeat password</label>
            <input formControlName="confirmPassword" class="main-input-box" type="password" placeholder="" required/>
            
            <!-- <div class="has-error-message"
                *ngIf="(signupForm.get('confirmPassword').errors && signupForm.get('confirmPassword').touched) || signupForm.get('confirmPassword').dirty">
                <span  *ngIf="signupForm.get('confirmPassword').errors.required">
                    The password is required.
                </span>
                <div *ngIf="signupForm.controls.confirmPassword.errors?.MatchPassword">Password not match</div>
            </div> -->
        </div>
       
    </div>
    <div class="inline-box mb-5 mt-4">
        <button (click) ="signup()" class="btn-login btn-fill" type="submit" value="Signup">Sign up</button>     
    </div>
    <h4 class="text-center">You do have an account?</h4>
    <div class="inline-box mb-5 mt-4">
        <button class="btn-signup btn-fill" type="submit" >Login</button>     
    </div>
</form>