
/*=============================================
=            Section Select            =
=============================================*/
.input-select
{
    height: 50px !important;
	border-radius: 4px;
	border: 1px solid #cccccc;
	margin-bottom: 15px;
	color: #111111;
	font-weight: 500;
	font-size: 15px;
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
	padding: 5px 15px;
}
/*=====  End of Section Select  ======*/

