<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->

<router-outlet></router-outlet>
<section class="instagram-feed-wrap">
    <!-- <div class="instagram-feed-title"><a href="#"><i class="fab fa-instagram"></i>Follow On Instagram</a></div> -->
    <ul class="instagram-feed-figure">
        <li>
            <a ><img src="assets/img/social-figure/social-figure1.jpg" alt="Social"></a>
        </li>
        <li>
            <a ><img src="assets/img/social-figure/social-figure2.jpg" alt="Social"></a>
        </li>
        <li>
            <a ><img src="assets/img/social-figure/social-figure3.jpg" alt="Social"></a>
        </li>
        <li>
            <a><img src="assets/img/social-figure/social-figure4.jpg" alt="Social"></a>
        </li>
        <li>
            <a ><img src="assets/img/social-figure/social-figure5.jpg" alt="Social"></a>
        </li>
        <li>
            <a ><img src="assets/img/social-figure/social-figure6.jpg" alt="Social"></a>
        </li>
        <li>
            <a ><img src="assets/img/social-figure/social-figure7.jpg" alt="Social"></a>
        </li>
        <li>
            <a><img src="assets/img/social-figure/social-figure8.jpg" alt="Social"></a>
        </li>
    </ul>
</section>
<!-- Instagram End Here -->
 <!-- Footer Area Start Here -->
 <footer class="ranna-bg-dark">
    <div class="container">
        <div class="footer-logo">
            <a href="index.html"><img src="assets/img/logo-light.png" class="img-fluid" alt="footer-logo"></a>
        </div>
        <div class="footer-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <!-- <li><a href="#">INSTAGRAM</a></li>
                <li><a href="#">PINTEREST</a></li>
                <li><a href="#">GOOGLEPLUS</a></li>
                <li><a href="#">About</a></li> -->
            </ul>
        </div>
        <div class="copyright"><a href="templatespoint.net">MixFood</a></div>
    </div>
</footer>
<!-- Footer Area End Here -->

