.section-heading
{
    display: flex;
}
.section-heading button
{
    margin-left: 10px !important;
}

.entry-meta
{
    display: block !important;
}

.socialnetworks-container a i
{
    color: #111;
}