<!-- Header Area Start Here -->
<app-navbar-guest></app-navbar-guest>
<!-- Header Area End Here -->

<section class="padding-bottom-45">
    <div class="container">
        <div class="row gutters-40">
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                <div class="widget ranna-box-padding">
                    <div class="section-heading heading-dark ">
                        <h3 class="item-heading">{{publicUser.name +' '+publicUser.lastname}}</h3>
                        <button class="btn-fil btn-red" *ngIf="!isFollowing" (click)="startFollowing()">Follow</button>
                        <button class="btn-fil btn-red" *ngIf="isFollowing" (click)="stopFollowing()">Unfollow</button>
                    </div>
                    <div class="widget-about">
                        <figure class="author-figure"><img src="assets/img/figure/about.jpg" alt="about"></figure>
                        <!-- <figure class="author-signature"><img src="assets/img/figure/signature.png" alt="about"></figure> -->
                        <h3 class="item-heading">About me</h3>
                        <p>{{publicUser.description}}</p>
                    </div>
                </div>
                <div class="widget ranna-box-padding">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">SUBSCRIBE &amp; FOLLOW</h3>
                    </div>
                    <div class="widget-follow-us">
                        <ul>
                            <li class="single-item"><a href="#"><i class="fab fa-facebook-f"></i>LIKE ME ON</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-twitter"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-linkedin-in"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-pinterest-p"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-instagram"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-youtube"></i>Subscribe</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget ranna-box-padding">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">LATEST RECIPES</h3>
                    </div>
                    <div class="widget-latest">
                        <ul class="block-list remove-5th-child-lg">
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest1.jpg" alt="Post"></a>
                                    <div class="count-number">1</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                    <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest2.jpg" alt="Post"></a>
                                    <div class="count-number">2</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                    <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest3.jpg" alt="Post"></a>
                                    <div class="count-number">3</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                    <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest4.jpg" alt="Post"></a>
                                    <div class="count-number">4</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                    <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest2.jpg" alt="Post"></a>
                                    <div class="count-number">3</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                    <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="widget ranna-box-padding">
                    <div class="widget-ad">
                        <a href="#"><img src="img/figure/figure3.jpg" alt="Ad" class="img-fluid"></a>
                    </div>
                </div> -->
                <div class="widget ranna-box-padding">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">CATEGORIES</h3>
                    </div>
                    <div class="widget-categories">
                        <ul>
                            <li>
                                <a href="#">BreakFast
                                    <span>25</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Lunch
                                    <span>15</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Pasta
                                    <span>22</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Dinner
                                    <span>18</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Dessert
                                    <span>36</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Drinks
                                    <span>12</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Fruits
                                    <span>05</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row gutters-40">
                    <div class="col-12">
                        <div class="product-box-layout4">
                            <div class="section-heading heading-dark">
                                <h2 class="item-heading">TRENDING RECIPE</h2>
                            </div>
                            <div class="item-figure">
                                <img [src]="recipeTrending.thumbRoute" alt="Product">
                                <a href="single-recipe1.html" class="item-dot">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="item-content">
                              
                                <h2 class="item-title"><a href="single-recipe1.html">{{recipeTrending.name}}</a></h2>
                                <span class="sub-title">{{recipeTrending.category.name.toUpperCase()}}</span>
                                <ul class="item-rating">
                                    <bar-rating [(rate)]="recipeTrending.averangeRanking" [max]="5" ></bar-rating>
                                </ul>
                                <p>{{recipeTrending.description}}</p>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                    <!-- <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li> -->
                                    <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-sm-6 col-12">
                        <div class="product-box-layout4">
                            <div class="item-figure">
                                <img src="img/product/product20.jpg" alt="Product">
                                <a href="single-recipe1.html" class="item-dot">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="item-content">
                                <span class="sub-title">CHICKEN</span>
                                <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                        and Chanterelles</a></h3>
                                <ul class="item-rating">
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-empty"><i class="fas fa-star"></i></li>
                                    <li><span>9<span> / 10</span></span> </li>
                                </ul>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="product-box-layout4">
                            <div class="item-figure">
                                <img src="img/product/product21.jpg" alt="Product">
                                <a href="single-recipe1.html" class="item-dot">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="item-content">
                                <span class="sub-title">SALAD</span>
                                <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                        and Chanterelles</a></h3>
                                <ul class="item-rating">
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-empty"><i class="fas fa-star"></i></li>
                                    <li><span>9<span> / 10</span></span> </li>
                                </ul>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="product-box-layout4">
                            <div class="item-figure">
                                <img src="img/product/product22.jpg" alt="Product">
                                <a href="single-recipe1.html" class="item-dot">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="item-content">
                                <span class="sub-title">DINNER</span>
                                <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                        and Chanterelles</a></h3>
                                <ul class="item-rating">
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-empty"><i class="fas fa-star"></i></li>
                                    <li><span>9<span> / 10</span></span> </li>
                                </ul>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="product-box-layout4">
                            <div class="item-figure">
                                <img src="img/product/product23.jpg" alt="Product">
                                <a href="single-recipe1.html" class="item-dot">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="item-content">
                                <span class="sub-title">JUICE</span>
                                <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                        and Chanterelles</a></h3>
                                <ul class="item-rating">
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-empty"><i class="fas fa-star"></i></li>
                                    <li><span>9<span> / 10</span></span> </li>
                                </ul>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="product-box-layout4">
                            <div class="item-figure">
                                <img src="img/product/product24.jpg" alt="Product">
                                <a href="single-recipe1.html" class="item-dot">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="item-content">
                                <span class="sub-title">BREAKFAST</span>
                                <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                        and Chanterelles</a></h3>
                                <ul class="item-rating">
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-empty"><i class="fas fa-star"></i></li>
                                    <li><span>9<span> / 10</span></span> </li>
                                </ul>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="product-box-layout4">
                            <div class="item-figure">
                                <img src="img/product/product25.jpg" alt="Product">
                                <a href="single-recipe1.html" class="item-dot">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="item-content">
                                <span class="sub-title">DINNER</span>
                                <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                        and Chanterelles</a></h3>
                                <ul class="item-rating">
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-fill"><i class="fas fa-star"></i></li>
                                    <li class="star-empty"><i class="fas fa-star"></i></li>
                                    <li><span>9<span> / 10</span></span> </li>
                                </ul>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                
                    <div class="col-lg-12">
                        <div class="ranna-box-style">
                            <div class="section-heading heading-dark">
                                <h2 class="item-heading">POPULAR RECIPES</h2>
                            </div>
                            <div class="row gutters-40">
                                <div *ngFor="let recipe of recipeFeatured | slice: 1" class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="product-box-layout6">
                                        <div class="item-figure">
                                            <img [src]="recipe.thumbRoute" alt="Product">
                                            <a href="single-recipe1.html" class="item-dot">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="item-content">                              
                                            <h3 class="item-title"><a href="single-recipe1.html">{{recipe.name}}s</a></h3>
                                            <span class="sub-title">{{recipe.category.name.toUpperCase()}}</span>
                                            <ul class="item-rating">
                                                <bar-rating [(rate)]="recipe.averangeRanking" [max]="5"  [readOnly]="true"></bar-rating>
                                            </ul>
                                            <p>{{recipe.description}}</p>
                                            <ul class="entry-meta remove-3rd-child-lg">
                                                <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                                <!-- <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li> -->
                                                <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="product-box-layout6">
                                        <div class="item-figure">
                                            <img src="img/product/product15.jpg" alt="Product">
                                            <a href="single-recipe1.html" class="item-dot">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <span class="sub-title">SEA FOOD</span>
                                            <h3 class="item-title"><a href="single-recipe1.html">Italiano Salad Mixed</a></h3>
                                            <ul class="item-rating">
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-empty"><i class="fas fa-star"></i></li>
                                                <li><span>9<span> / 10</span></span> </li>
                                            </ul>
                                            <p>Pro sint falli definitiones noel ei verear civibus
                                                consequat efficiantue.Vestibulum ante ipsum primis in fau
                                                cibus.</p>
                                            <ul class="entry-meta remove-3rd-child-lg">
                                                <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                                <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="product-box-layout6">
                                        <div class="item-figure">
                                            <img src="img/product/product16.jpg" alt="Product">
                                            <a href="single-recipe1.html" class="item-dot">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <span class="sub-title">SALAD</span>
                                            <h3 class="item-title"><a href="single-recipe1.html">Maxican Dessert</a></h3>
                                            <ul class="item-rating">
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-empty"><i class="fas fa-star"></i></li>
                                                <li><span>9<span> / 10</span></span> </li>
                                            </ul>
                                            <p>Pro sint falli definitiones noel ei verear civibus
                                                consequat efficiantue.Vestibulum ante ipsum primis in fau
                                                cibus.</p>
                                            <ul class="entry-meta remove-3rd-child-lg">
                                                <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                                <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-lg-block d-xl-none col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="product-box-layout6">
                                        <div class="item-figure">
                                            <img src="img/product/product14.jpg" alt="Product">
                                            <a href="single-recipe1.html" class="item-dot">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <span class="sub-title">BREAKFAST</span>
                                            <h3 class="item-title"><a href="single-recipe1.html">Asian Chicken Noodles</a></h3>
                                            <ul class="item-rating">
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-fill"><i class="fas fa-star"></i></li>
                                                <li class="star-empty"><i class="fas fa-star"></i></li>
                                                <li><span>9<span> / 10</span></span> </li>
                                            </ul>
                                            <p>Pro sint falli definitiones noel ei verear civibus
                                                consequat efficiantue.Vestibulum ante ipsum primis in fau
                                                cibus.</p>
                                            <ul class="entry-meta remove-3rd-child-lg">
                                                <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                                <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                
                
                </div>
            </div>                  
        </div>
    </div>
</section>