<!-- User Navabar Start Here -->
<app-navbar-user></app-navbar-user>
<!-- User Navabar End Here -->
<!-- Inne Page Banner Area Start Here -->
<section class="section-header inner-page-banner bg-common">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Create Recipe</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Submit Recipe Area Start Here -->
<section class="submit-recipe-page-wrap padding-top-45 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
                <br>
                <!-- Form Start Here -->
                <form 
                #formRecipe="ngForm" 
                (ngSubmit)="formRecipe.valid && createRecipe() " 
                class="submit-recipe-form"
                novalidate>
                    <!-- Input Name Start Here -->
                    <div class="form-group">
                        <label>Name</label>
                        <input 
                        #recipeName="ngModel"
                        name="recipeName"
                        [(ngModel)]="recipeModel.name"
                        type="text" 
                        placeholder="Recipe Name" 
                        class="form-control is-invalid"    
                        [ngClass]="{'is-invalid': formRecipe.submitted && recipeName.invalid && recipeName || recipeName.touched && recipeName.invalid}"                          
                        data-error="Name field is required"
                        required>       
                    <div class="input-errors"                         
                    [ngClass]="{'is-invalid-input': formRecipe.submitted && recipeName.invalid && recipeName || recipeName.touched && recipeName.invalid}"                            
                        >
                            Please write a name.
                        </div>
                    </div>
                    <!-- Input Name End Here -->
                    <!-- Select Category Start Here -->
                    <div class="form-group">
                        <label>Choose a category</label>
                        <ng-select
                        class="input-ngselect-create"
                        [ngClass]="{'is-invalid': formRecipe.submitted && categoryId.invalid || categoryId.touched && categoryId.value == null}"   
                        #categoryId="ngModel"                 
                        name="categoryId"
                        [(ngModel)]="recipeModel.categoryId"
                        [items]="categories"
                        bindLabel="name"
                        bindValue="id"                       
                        [multiple]="false"
                        placeholder ="Select a category"
                        notFoundText = "Result not found"
                        required>
                        </ng-select>
                        <div class="input-errors"
                        [ngClass]="{'is-invalid-input': formRecipe.submitted && categoryId.invalid || categoryId.touched && categoryId.value == null}"   
                        >
                            Please choose a category.
                        </div>
                    </div>
                    <!-- Select Category End Here -->
                    <!-- Tags Select Start Here -->
                    <div class="form-group select2-multiple">
                        <label>Tags (Max 5)</label>
                        <ng-select      
                        #tagsId="ngModel"
                        [ngClass]="{'is-invalid': formRecipe.submitted && tagsId.invalid || tagsId.touched && tagsId.value == ''}"                    
                        [(ngModel)]="tagsModel"            
                        class="select-multiple"
                        [items]="tags"
                        bindLabel="name"
                        bindValue="id"
                        name="tags"                           
                        [multiple]="true"
                        placeholder ="Select your tags"
                        notFoundText = "Results not found"
                        [maxSelectedItems]="5"
                        required>
                        </ng-select>
                        <div class="input-errors"
                        [ngClass]="{'is-invalid-input': formRecipe.submitted && tagsId.invalid || tagsId.touched && tagsId.value == ''}"                    
                        >
                            Please choose at least one tag.
                        </div>
                    </div>
                    <!-- Tags Select End Here -->
                    <!-- Difficulty Select Start Here -->
                    <div class="form-group">
                        <label for="difficulty">Difficulty</label>
                        <select #difficulty="ngModel"   
                        [ngClass]="{'is-invalid': formRecipe.submitted && difficulty.invalid}"                      
                        name=difficulty 
                        [(ngModel)]="recipeModel.difficulty" 
                        class="form-control custom-select">
                            <option selected value="null">Chosse one...</option>
                            <option value="EASY">Easy</option>
                            <option value="MEDIUM">Medium</option>
                            <option value="HARD">Hard</option>
                        </select>
                        <div class="input-errors" [ngClass]="{'is-invalid-input': formRecipe.submitted && difficulty.invalid}">
                            Please choose a difficulty.
                        </div>
                    </div>
                    <!-- Difficulty Select End Here -->
                    <!-- Input Description Start Here -->
                    <div class="form-group">
                        <label>Description <span> ({{descriptionLength}} characters left)</span></label>
                        <textarea 
                        #description="ngModel"
                        [ngClass]="{'is-invalid': formRecipe.submitted && description.invalid || description.touched && description.value == ''}"        
                        name="description" 
                        [(ngModel)]="recipeModel.description"
                        class="form-control" 
                        cols="30" 
                        rows="4"
                        maxlength="200"
                        placeholder="This is a small description"
                        (keyup)="countCharacters(description.value)"
                        required>
                        </textarea>
                        <div class="input-errors"
                        [ngClass]="{'is-invalid-input': formRecipe.submitted && description.invalid || description.touched && description.value == ''}"        
                        >
                            Please write a description.
                        </div>
                    </div>
                    <!-- Input Description End Here -->         
                    <!-- Input Video Frame Start Here -->
                    <div class="form-group">
                        <label>URL YouTube Video</label>
                        <input  [(ngModel)]="recipeModel.videFrame" class="form-control" placeholder="http://youtube.com/"  name="videoFrame"  type="text">
                    </div>
                    <div>
                    </div>
                    <!-- Input Video Frame Start Here -->
                    <!-- Upload Photos Start Here -->
                    <div class="additional-input-wrap">
                        <label>Upload Photos (Max 5)</label>
                        <div class="form-group">
                            <ul class="upload-image" >
                                <li *ngFor="let image of imagesURL let i = index" 
                                (click)="selecAsThumb(i)" 
                                [ngClass]="{'select-thumb': i == indexThumb}">
                                    <span class="remove-image" (click)="removeImage(i)">
                                        <i class="fas fa-times icon-remove"></i>
                                    </span>
                                    <img [src]="image" alt="Upload Image">
                                </li>            
                            </ul>
                        </div>
                        <div class="upload-btn-wrapper">
                            <input 
                            #image="ngModel"
                            [(ngModel)]="fileModel"
                            [ngClass]="{'is-invalid': formRecipe.submitted && image.invalid}"        
                            [disabled]="imagesCount == 5"
                            (change)="onFileSelected($event)"
                            type="file" 
                            name="file-1[]" 
                            id="file-1" 
                            class="inputfile inputfile-1" 
                            accept="image/x-png,image/gif,image/jpeg"
                            data-multiple-caption="{count} files selected" 
                            multiple 
                            required/>
                            <button class="btn">Choose images...</button>    
                            <div class="input-errors" [ngClass]="{'is-invalid-input': formRecipe.submitted && formRecipe.invalid || image.value == ''}">
                                Please choose at least one image.
                            </div>
                            <div class="input-errors" [ngClass]="{'is-invalid-input': isImagesLimit}">
                                You can only select a maximum of 5 images.
                            </div>   
                        </div>
                    </div>
                    <!-- Upload Photos End Here -->
                    <!-- Input Preparation Time Start Here -->
                    <div class="additional-input-wrap">
                        <label>Preparation time</label>
                        <div class="row gutters-5">                        
                            <div class="col-lg-12">
                                <!-- <label for="">Hours</label> -->
                                <div class="form-group additional-input-box icon-left">
                                    <i class="far fa-clock"></i>
                                    <input 
                                    #preparationTime="ngModel"
                                    [ngClass]="{'is-invalid': formRecipe.submitted && preparationTime.invalid || preparationTime.touched && preparationTime.invalid}"        
                                    name="preparationTime"
                                    [(ngModel)]="recipeModel.preparationTime"
                                    type="text"
                                    placeholder="15 minutes"
                                    class="form-control"
                                    required>                                                                    
                                </div>
                                <div class="input-errors"  
                                [ngClass]="{'is-invalid-input': formRecipe.submitted && preparationTime.invalid || preparationTime.touched && preparationTime.invalid}">
                                    Please write the preparation time.
                                </div>     
                            </div>                                                                  
                        </div>       
                    </div>
                    <!-- Input Preparation Time End Here -->
                    <!-- Upload Photos End Here -->
                    <!-- Input Ingredients Start Here -->
                    <div class="additional-input-wrap">
                        <label>Ingredientes</label>
                        <div class="row gutters-5">
                            <div class="col-lg-4">
                                <div class="form-group additional-input-box icon-left">
                                    <i class="fas fa-egg"></i>
                                    <ng-select 
                                    class="additional-input input-ngselect-additional"
                                    #ingredient="ngModel"
                                    name="ingredient"
                                    [(ngModel)]="ingredientModel.id"
                                    [items]="ingredients"
                                    bindLabel="name"
                                    bindValue="id"                       
                                    [multiple]="false"
                                    placeholder ="Select a ingredient"
                                    notFoundText = "Result not found">
                                    </ng-select>
                                    <div class="invalid-feedback">
                                        Please choose a ingredient.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group additional-input-box icon-left">
                                    <i class="fas fa-shopping-bag"></i>
                                    <input 
                                    name="amountIngredient"
                                    #amountIngredient="ngModel"  
                                    [(ngModel)]="ingredientModel.amountIngredient"
                                    type="text" 
                                    placeholder="Cantidad: 1/2 kg" 
                                    class="form-control additional-input">
                                    <div class="invalid-feedback">
                                        Please write a amount.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group additional-input-box incon-left">
                                    <i class="fas fa-balance-scale"></i>
                                    <select 
                                    #unit="ngModel" 
                                    [(ngModel)]="ingredientModel.unit" class="form-control custom-select" name="unit" id="">
                                       <option value="null"
                                         selected>Choose a Unit</option>
                                        <option value="Kg">Kg</option>
                                        <option value="G">G</option>
                                        <option value="Ml">L</option>
                                        <option value="Oz">Oz</option>
                                        <option value="Gr">Gr</option>
                                    </select>                        
                                </div>
                            </div>
                            <div class="invalid-feedback">
                                Please choose a unit.
                            </div>
                            <div class="col-12">
                                <button 
                                type="button"
                                [disabled]="ingredientModel.id == null && ingredientModel.amountIngredient == '' && ingredientModel.unit == null"
                                *ngIf="!isEditIngredient"
                                (click)="addIngredient(ingredient.value, amountIngredient.value, unit.value)"
                                class="btn-upload">
                                    <i class="flaticon-add-plus-button"></i>Add to list
                                </button>
                                <button *ngIf="isEditIngredient"
                                (click)="updateIngredient()"
                                    class="btn-upload">
                                    <i class="flaticon-add-plus-button"></i>Update
                                </button>
                            </div>                       
                        </div>           
                    </div> 
                    <!-- Input Ingredients End Here -->
                    <!-- New Ingredients List Start Here -->
                    <div class="additional-input-wrap" *ngIf="newIngredientsList.length > 0">
                        <label>Ingredients List:</label>
                        <div class="row gutters-5" *ngFor="let ingredient of ingredientsList let i = index">
                            <div class="col-6">
                                <div class="form-group additional-input-box2 ">
                                    <div class=" ingredient-item">
                                        <p>{{ingredient.name}}</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group additional-input-box2 icon-right">
                                    <div class="ingredient-item">
                                        <p>{{ingredient.amount}}</p>
                                    </div>
                                    <!-- <a (click)="editIngredient(i)"><i class="fas fa-pen icon-edit"></i></a> -->
                                    <!-- <a (click)="removeIngredient(i)"> <i class="fas fa-times icon-remove"></i></a> -->
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group additional-input-box2 icon-right">
                                    <div class="ingredient-item">
                                        <p>{{ingredient.unit}}</p>
                                    </div>
                                    <a (click)="editIngredient(i)"><i class="fas fa-pen icon-edit"></i></a>
                                    <a (click)="removeIngredient(i)"> <i class="fas fa-times icon-remove"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- <button type="submit" class="btn-upload"><i class="flaticon-add-plus-button"></i>ADD NEW
                            INGREDIENT</button> -->
                    </div>
                    <!-- New Ingredients List Start Here -->
                    <!-- Old Ingredients List Start Here -->
                    <div class="additional-input-wrap" *ngIf="ingredientsList.length > 0">
                        <label>Ingredients List:</label>
                        <div class="row gutters-5" *ngFor="let ingredient of ingredientsList let i = index">
                            <div class="col-6">
                                <div class="form-group additional-input-box2 ">
                                    <div class=" ingredient-item">
                                        <p>{{ingredient.name}}</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group additional-input-box2 icon-right">
                                    <div class="ingredient-item">
                                        <p>{{ingredient.amount}}</p>
                                    </div>
                                    <!-- <a (click)="editIngredient(i)"><i class="fas fa-pen icon-edit"></i></a> -->
                                    <!-- <a (click)="removeIngredient(i)"> <i class="fas fa-times icon-remove"></i></a> -->
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group additional-input-box2 icon-right">
                                    <div class="ingredient-item">
                                        <p>{{ingredient.unit}}</p>
                                    </div>
                                    <a (click)="editIngredient(i)"><i class="fas fa-pen icon-edit"></i></a>
                                    <a (click)="removeIngredient(i)"> <i class="fas fa-times icon-remove"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- <button type="submit" class="btn-upload"><i class="flaticon-add-plus-button"></i>ADD NEW
                            INGREDIENT</button> -->
                    </div>
                    <!-- Old Ingredients List End Here -->
                    <div class="form-group">
                        <label>Preparation steps </label>
                        <quill-editor 
                        #preparationSteps="ngModel"
                        name="preparationSteps"
                        [(ngModel)]="recipeModel.preparationSteps"
                        [styles]="{height: '200px'}" 
                        [modules]="editorConfig">
                        </quill-editor>
                        <div class="input-errors" 
                        [ngClass]="{'is-invalid-input': preparationSteps.value == '' && formRecipe.submitted }">
                            Please write the preparation steps...
                        </div>
                    </div>
                    <!-- Radio Recipe Status Start Here -->
                    <div class="form-group">
                        <label>Recipe status</label>
                        <div class="row">
                            <div class="custom-control custom-radio custom-control-inline">
                                <div class="custom-control custom-radio">
                                    <input 
                                    [(ngModel)]="recipeModel.status"
                                    value="public"
                                    type="radio" 
                                    id="option1" 
                                    name="statusRadio" 
                                    class="custom-control-input"
                                    checked
                                    required>
                                    <label class="custom-control-label" for="option1">Public</label> 
                                </div>    
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <div class="custom-control custom-radio">
                                    <input 
                                    [(ngModel)]="recipeModel.status"
                                    value="private"
                                    type="radio" 
                                    id="option2" 
                                    name="statusRadio" 
                                    class="custom-control-input">
                                    <label class="custom-control-label" for="option2">Private</label> 
                                </div>    
                            </div>
                        </div>
                    </div>
                    <!-- Radio Recipe Status End Here -->
                    <button type="submit" class="btn-submit">CREATE</button>
                </form>
            </div>
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">MY LAST RECIPES</h3>
                    </div>
                    <div class="widget-featured-feed">
                        <div class="rc-carousel nav-control-layout1" data-loop="true" data-items="3"
                            data-margin="5" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="700"
                            data-dots="false" data-nav="true" data-nav-speed="false" data-r-x-small="1"
                            data-r-x-small-nav="true" data-r-x-small-dots="false" data-r-x-medium="1"
                            data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="1"
                            data-r-small-nav="true" data-r-small-dots="false" data-r-medium="1"
                            data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="1"
                            data-r-large-nav="true" data-r-large-dots="false" data-r-extra-large="1"
                            data-r-extra-large-nav="true" data-r-extra-large-dots="false">
                            <div class="featured-box-layout1">
                                <div class="item-img">
                                    <img src="img/product/product17.jpg" alt="Brand" class="img-fluid">
                                </div>
                                <div class="item-content">
                                    <span class="ctg-name">BREAKFAST</span>
                                    <h4 class="item-title"><a href="single-recipe1.html">Baked Garlic Prawn</a></h4>
                                    <p>Definitiones noel ei verear intelle
                                        gatpri civibus consequat area
                                        refund efficiantue.</p>
                                </div>
                            </div>
                            <div class="featured-box-layout1">
                                <div class="item-img">
                                    <img src="img/product/product18.jpg" alt="Brand" class="img-fluid">
                                </div>
                                <div class="item-content">
                                    <span class="ctg-name">DINNER</span>
                                    <h4 class="item-title"><a href="single-recipe1.html">Baked Garlic Prawn</a></h4>
                                    <p>Definitiones noel ei verear intelle
                                        gatpri civibus consequat area
                                        refund efficiantue.</p>
                                </div>
                            </div>
                            <div class="featured-box-layout1">
                                <div class="item-img">
                                    <img src="img/product/product19.jpg" alt="Brand" class="img-fluid">
                                </div>
                                <div class="item-content">
                                    <span class="ctg-name">SALAD</span>
                                    <h4 class="item-title"><a href="single-recipe1.html">Baked Garlic Prawn</a></h4>
                                    <p>Definitiones noel ei verear intelle
                                        gatpri civibus consequat area
                                        refund efficiantue.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">LATEST RECIPES</h3>
                    </div>
                    <div class="widget-latest">
                        <ul class="block-list">
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest1.jpg" alt="Post"></a>
                                    <div class="count-number">1</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                    <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest2.jpg" alt="Post"></a>
                                    <div class="count-number">2</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                    <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest3.jpg" alt="Post"></a>
                                    <div class="count-number">3</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                    <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="img/product/latest4.jpg" alt="Post"></a>
                                    <div class="count-number">4</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                    <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>     
            </div>
        </div>
    </div>
</section>
<!-- Submit Recipe Area End Here -->