<!-- Header Area Start Here -->
<app-navbar-guest></app-navbar-guest>
<!-- Header Area End Here -->
<!-- Content Area Start Here -->
<section class="padding-bottom-45">
    <div class="container">
        <div class="row gutters-60">
            <!-- Search Start Here -->
            <!-- {{searchModel | json}} -->
            <div class="col-lg-8">
                <div class="adv-search-wrap">
                    <div class="input-group">
                        <input 
                        type="text" 
                        [(ngModel)]="searchModel.searchTerm"
                        class="form-control" 
                        placeholder="Recipe Search . . ." />
                        <div class="btn-group">
                            <div class="input-group-btn">
                                <button 
                                    type="button" 
                                    id="adv-serch" 
                                    class="btn-adv-serch">
                                    <i class="icon-plus flaticon-add-plus-button"></i>
                                    <i class="icon-minus fas fa-minus"></i>
                                    Advanced Search</button>
                            </div>
                            <div class="input-group-btn">
                                <button (click)="Search()" class="btn-search"><i class="flaticon-search"></i></button>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
            <!-- Search End Here -->
            <!-- Results Recipe Start Here -->
            <div class="col-lg-10" *ngIf="isSearch">
                <div class="section-heading heading-dark row">
                    <h2 class="item-heading">Resulsts </h2>
                </div>
                <div class="row">
                    <!-- <div class="alert alert-primary" role="alert">
                        Results not found!
                    </div> -->
                    <div *ngFor="let recipe of recipesRes | paginate: {id: 'pagination-nav', itemsPerPage: 12, currentPage: p, totalItems: totalItems}" 
                    class="card-item col-lg-3 col-md-3 col-sm-12" (click)="showRecipe(recipe)">
                        <div class="product-box-layout1">
                            <figure class="item-figure">
                                <a>
                                    <img  src="assets/img/product/product5.jpg"  
                                        alt="Product">
                                </a>
                            </figure>
                            <div class="item-content">
                                <h3 class="item-title"><a (click)="showRecipe(recipe)" >{{recipe.name}}</a></h3>
                                <span class="sub-title">{{recipe.category.name}}</span>
                                <ul class="item-rating">
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-fill"><i class="fas fa-star"></i></li>
                                        <li class="star-empty"><i class="fas fa-star"></i></li>
                                </ul>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fas fa-clock"></i>{{recipe.createAt | timeAgo}}</a></li>
                                    <li><a href="#"><i class="fas fa-user"></i><span>{{recipe.user.name +' '+ recipe.user.lastname}}</span></a></li>
                                    <li>
                                        <ul class="card-tags">
                                            <!-- <li *ngFor="let tag of recipe.tags"><a >#tag</a></li> -->
                                        </ul>
                                    </li>                                
                                </ul>
                            </div>
                        </div>
                    </div>                                                             
                </div>    
                <!-- Pagination Start Here -->
                <pagination-controls 
                *ngIf="isSearch"
                id="pagination-nav"
                (pageChange)="getPage($event)"
                previousLabel="Prev"
                nextLabel="Next"
                responsive="true"
                screenReaderPaginationLabel="Pagination"
                ></pagination-controls>
                <!-- Pagination End Here -->                        
            </div>
            <!-- Results Recipe End Here -->
           
            <!-- Recent Recipe Start Here -->
            <div class="col-lg-12">
              <owl-carousel-o [options]="customOptions">
                <!-- <ng-template carouselSlide>
                    <img style="width: 200px;" src="https://cdn.pixabay.com/photo/2017/05/13/23/05/img-src-x-2310895_960_720.png" alt="image">
                </ng-template>  
                <ng-template carouselSlide>
                    <img style="width: 200px;" src="https://cdn.pixabay.com/photo/2017/05/13/23/05/img-src-x-2310895_960_720.png" alt="image">
                </ng-template>  
                <ng-template carouselSlide>
                    <img style="width: 200px;" src="https://cdn.pixabay.com/photo/2017/05/13/23/05/img-src-x-2310895_960_720.png" alt="image">
                </ng-template>  
                -->
                <div class="item"  *ngFor="let recipe of recipes">
                    <ng-template class="template-card" carouselSlide>
                      <app-recipe-card-principal [recipe]="recipe"></app-recipe-card-principal>
                        <!-- <img style="width: 200px;" src="https://cdn.pixabay.com/photo/2017/05/13/23/05/img-src-x-2310895_960_720.png" alt="image"> -->
                    </ng-template>  
                    <!-- <ng-template> -->
                        <!-- <app-recipe-card-principal [recipe]="recipe"></app-recipe-card-principal> -->
                    <!-- </ng-template>                  -->                   
                </div>
                <!-- <ng-template carouselSlide>Slide 2</ng-template>  
                <ng-template carouselSlide>Slide 3</ng-template>   -->
              </owl-carousel-o>
            </div>



            
           <!-- <div class="col-lg-10">
            <owl-carousel-o [options]="customOptions">
         
            <ng-container *ngFor="let recipe of recipes">
              <ng-template carouselSlide [id]="recipe.id">
                  <img src="https://cdn.pixabay.com/photo/2017/05/13/23/05/img-src-x-2310895_960_720.png" alt="">
              </ng-template>
            </ng-container>
         
          </owl-carousel-o>
           </div> -->
           <!-- <div class="col-lg-10">
            <div>Some tags before</div>
            <owl-carousel-o [options]="customOptions">
         
            <ng-container *ngFor="let recipe of recipes">
              <ng-template carouselSlide [id]="recipe.id">
                <img src="http://localhost:8080/api/uploads/recipes/{{recipe.thumbRoute}}" alt="image" title="slide.title">
              </ng-template>
            </ng-container>
         
          </owl-carousel-o>
          <div>Some tags after</div>
           </div> -->


            <!-- <div class="col-lg-10" *ngIf="!isSearch">
                <div class="section-heading heading-dark row">
                    <h2 class="item-heading">Recent recipes </h2>
                </div>
                <div id="recipe-cards-carousel" class="owl-carousel owl-theme">             
                    <div class="item"  *ngFor="let recipe of recipes">                 
                         <app-recipe-card-principal [recipe]="recipe"></app-recipe-card-principal>
                    </div>
                </div>
            </div> -->
            <!-- Recent Recipe End Here -->
 
            <!-- Popular tags start here -->
            <div class="col-lg-2 sidebar-widget-area sidebar-break-md">
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">Popular tags</h3>
                    </div>
                    <div class="widget-tag">
                        <ul>
                            <li *ngFor="let tag of tags">
                                <a (click)="goToRecipesByTag(tag.id)">
                                    {{tag.name.toUpperCase()}}
                                </a>
                            </li>
                        </ul>            
                    </div>
                </div>                    
            </div>
            <!-- Popular tags end here -->
        </div>
    </div>
</section>
<!-- Results Recipe Start Here -->
<!-- <app-searchresults *ngIf="isSearch"></app-searchresults> -->

<!-- Results Recipe End Here -->

<!-- Category Area Start Here -->
<section class="category-page-wrap padding-top-80 padding-bottom-50">
    <div class="container">
        <div class="categories-header section-heading heading-dark row">
            <h2 class="item-heading">Categories </h2>
         
        </div>
        <div class="row">      
            <div 
            class="col-lg-2 col-md-6 col-sm-6 col-12" 
            *ngFor="let category of categories"
            (click)="goToRecipesByCategory(category.id)">
                <div class="category-box-layout1">
                    <figure class="item-figure">
                        <a href="single-recipe1.html">
                            <img [src]="category.thumbRoute" alt="Category">
                        </a>
                    </figure>
                    <div class="item-content">
                        <h3 class="item-title"><a (click)="goToRecipesByCategory(category.id)" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >{{category.name}}</a></h3>
                        <span class="sub-title"> {{category.amountRecipes}} Recipes</span>
                    </div>
                </div>
            </div>             
        </div>
        <div class="show-more-container">
            <a [routerLink]="['/categories/page/',1]" routerLinkActive="router-link-active"  class="pointer btn-show-more"><span>Show more...</span></a>
        </div>
    </div>
</section>
<!-- Category Area End Here -->
<!-- Content Area End Here -->