<div class="product-box-layout6">
    <div (click)="goToRecipe(recipe.id)" class="item-figure">
        <img [src]="recipe.thumbRoute" alt="Product">
        <a href="single-recipe1.html" class="item-dot">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="item-content">      
        <span *ngIf="isLoggedIn" class="btn-edit pointer btn-table-edit">
            <a>
                <i class="fas fa-pencil-alt"></i>
            </a>
        </span>            
        <h3 class="item-title">
            <a class="pointer" [routerLink]="['/recipe',recipe.id]" routerLinkActive="router-link-active" >{{recipe.name}}s</a>
        </h3>
        <span class="sub-title">
            <a class="pointer" (click)="goToCategory(recipe.category.id)">
                {{recipe.category.name.toUpperCase()}}
            </a>
        </span>
        <ul class="item-rating">
            <bar-rating [(rate)]="recipe.averangeRanking" [max]="5"  [readOnly]="true"></bar-rating>
        </ul>
        <p>{{recipe.description}}</p>
        <ul class="entry-meta remove-3rd-child-lg">
            <li>
                <a href="#"><i class="fas fa-clock"></i>{{recipe.createAt | timeAgo}}</a>
            </li>                            
            <li>
                <a *ngIf="isLoggedIn" (click)="StartaLike(recipe.id)">
                    <i class="fas fa-heart"></i>
                    <span *ngIf="isLiked && totalLikes > 0">You and {{totalLikes}} others likes</span>
                    <span *ngIf="!isLiked && totalLikes > 0">{{recipe.totalLikes}} likes</span>
                    <span *ngIf="!isLiked && totalLikes == 0" >Be the first to like</span>
                    <span *ngIf="isLiked && totalLikes == 0">You like this</span>
                </a>
                <a *ngIf="!isLoggedIn"><i class="fas fa-heart"></i> {{totalLikes}} Likes</a>
                <!-- <a *ngIf="!isLoggedIn && totalLikes == 1"><i class="fas fa-heart"></i> {{totalLikes}} Like</a> -->
            </li>  
            <li>
                <a (click)="addToFavorite(recipe.id)" *ngIf="!isFavorite && isLoggedIn">
                    <i class="far fa-heart"></i>
                    <span>Add to favorites</span> 
                </a>
                <a  (click)="removeFavorite(recipe.id)" *ngIf="isFavorite && isLoggedIn">
                    <i class="fas fa-heart"></i>
                    <span>Remove favorites</span> 
                </a>
            </li>                              
        </ul>
    </div>
</div>
