<div class="author-box-layout1 padding-top-74">
    
   

    <div class="adv-search-wrap row">
        <form (ngSubmit)="searchRecipes(searchTerm.value) && searchTerm.value != ''" class="col-lg-8" novalidate>
            <div class="input-group col-lg-12">
                <input #searchTerm type="text" class="form-control" placeholder="Recipe name. . ." required>
                <div class="btn-group">
                    <div class="input-group-btn">
                        <button type="submit" class="btn-search"><i class="flaticon-search"></i></button>
                    </div>
                </div>
            </div>
        </form>

        <div class="input-group col-lg-2">
            <select [(ngModel)]="status" (change)="getByStatus()" class="custom-select"  name="" id="">
                <option value="private">Private</option>
                <option selected value="public">Public</option>
            </select>
        </div>
        <!-- <div class="input-group col-lg-2">
            <select class="custom-select"  name="" id="">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
            </select>
         </div> -->
    </div>

    <!-- <div *ngIf="totalItems > 0" class="section-heading heading-dark ">
        <h2  class="item-heading profile-name">Total {{totalItems}} recipes</h2>
    </div>      -->
    <div class="table-responsive">

        <!-- Alert Not Found Start Here -->
        <div *ngIf="isResultEmpty" class="col-lg-12 alert alert-info" role="alert">
            <h4 class="alert-heading"><i class="fas fa-info-circle"></i> Results not found!</h4>
            <p *ngIf="term != ''">No results were found with the term: <b>{{term}}</b></p>
            <p *ngIf="term == '' ">No results were found!</p>
        </div>
        <!-- Alert Not Found Stop Here -->

        <!-- Alert No Recipes Start Here -->
          <div  *ngIf="recipes.length == 0" class="alert alert-info padding-top-75" role="alert">
            <h4 class="alert-heading">You dont have recipes!</h4>
            <hr>
            <p>To create a <a [routerLink]="['/user/recipes/create']" routerLinkActive="router-link-active" >click here</a></p>
        </div>
        <!-- Alert No Recipes End Here -->
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let recipe of recipes | paginate: {id: 'pagination-nav', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems}; let i = index">
                    <th>
                        <div class="author-personal-info">
                            <a class="item-figure">
                            <img src="http://localhost:8080/api/uploads/{{recipe.thumbRoute}}/type/RECIPE" alt="Recipe">
                            </a>
                            <div class="item-content">
                                <div class="item-title"><a [routerLink]="['/recipe/',recipe.id]">{{recipe.name}}</a></div>
                                <div class="item-designation">{{recipe.category.name}}</div>
                            </div>
                        </div>
                    </th>
                    <td>
                        <div class="author-social-info">
                            <ul>
                                <li>
                                    <div>
                                        <h4 class="item-title">Likes</h4>
                                        <span class="item-number">{{recipe.totalLikes}}</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4 class="item-title">Reviews</h4>
                                        <span class="item-number">{{recipe.totalReviews}}</span>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div>
                                        <h4 class="item-title">Favourites</h4>
                                        <span class="item-number">35+</span>
                                    </div>
                                </li> -->
                                <li>
                                    <div>
                                        <h4 class="item-title">Ranking</h4>
                                        <span class="item-number">{{recipe.averangeRanking}}</span>
                                    </div>
                                </li>               
                            </ul>                                                                 
                        </div>
                        <ul class="nav-actions"> 
                            <li class="btn-table btn btn-table-edit"><a (click)="goToEdit(recipe.id)"><i class="fas fa-pencil-alt"></i></a></li>
                            <li class="btn-table btn btn-table-remove"><a (click)="removeRecipe(recipe.id,i)"><i class="fas fa-trash"></i></a></li>
                        </ul>
                    </td>
                </tr>             
            </tbody>
        </table>
    </div>
    <!-- Pagination Start Here -->
    <pagination-controls 
    *ngIf="totalPages > 1"
    id="pagination-nav"
    (pageChange)="getPage($event)"
    previousLabel=""
    nextLabel=""
    responsive="true"
    screenReaderPaginationLabel="Pagination">
    </pagination-controls>
    <!-- Pagination End Here -->
</div>
<!-- Recipes Area Start Here -->
<!-- <section class="author-page-wrap padding-top-80 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
               
            </div>

        </div>
    </div>
</section> -->
<!-- Recipes Area End Here -->